.application-form-header-outer-container {
  background-color: variables.$light;
  padding: 30px 20px;
  @include variables.md {
    padding: 50px 30px;
  }
  .application-form-header-inner-container {
    font-family: variables.$primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    @include variables.md {
      font-size: 52px;
      line-height: 61px;
      display: flex;
      flex-direction: row;
    }
    .application-form-header-text-col {
      display: flex;
      flex-direction: column;
      .application-form-header-subheading {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        padding-top: 20px;
        @include variables.md {
          padding-top: 30px;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

.application-form-container {
  padding-top: 30px;
  padding-bottom: 30px;
  @include variables.md {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .submit-button {
    color: white;
    margin: 30px 0;
  }
}
