.basics-header-outer-container {
  background-color: variables.$bg-red;
  position: relative;
  .basics-header-inner-container {
    color: white;
    padding-top: 30px;
    padding-bottom: 140px;
    @include variables.md {
      padding-top: 60px;
      padding-bottom: 110px;
    }
    .basics-header-text-container {
      @include variables.md {
        width: 95%;
      }
      .basics-header-heading {
        font-family: variables.$primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        padding-bottom: 15px;
        @include variables.md {
          font-size: 52px;
          line-height: 61px;
          padding-bottom: 30px;
        }
      }
      .basics-header-subheading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 15px;
        @include variables.md {
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 30px;
        }
      }
      .basics-header-list {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        list-style: none;
        padding-left: 0;
        @include variables.md {
          font-size: 18px;
          line-height: 26px;
        }
        li {
          margin: 15px 0;
        }
      }
    }

    .basics-headerimage-container-desktop {
      display: none;
      @include variables.md {
        display: block;
      }
    }
    .basics-headerimage-container-mobile {
      padding-bottom: 30px;

      @include variables.md {
        display: none;
      }
    }
  }
  .basics-next-batch-container {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border: 1px solid variables.$success;
    border-radius: 15px;
    padding: 20px 20px;
    width: 90%;
    bottom: -15%;
    left: 5%;
    background-color: white;
    @include variables.md {
      bottom: -11%;
      padding: 30px 30px;
      flex-direction: row;
      justify-content: space-between;
    }
    @include variables.xxl {
      left: 13%;
    }
    @include variables.xxxl {
      left: 17%;
    }
    .basics-next-batch-button-container {
      display: flex;
      align-items: center;
    }
    .basics-next-batch-heading {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;
    }

    .basics-next-batch-text {
      font-family: variables.$primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 30px;
      @include variables.md {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 0;
      }
    }

    .basics-next-batch-text-desktop {
      display: none;
      @include variables.md {
        display: block;
      }
    }

    .basics-next-batch-text-mobile {
      @include variables.md {
        display: none;
      }
    }
  }
}

.basics-content-container {
  padding-top: 120px;
  padding-bottom: 20px;
  @include variables.md {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .basics-content-col {
    border-left: 1px solid variables.$success;
    .basics-overview-container {
      @include variables.md {
        padding-left: 50px;
      }
      .basics-overview-heading {
        padding-top: 30px;
        padding-bottom: 40px;
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        @include variables.md {
          font-size: 32px;
          line-height: 44px;
        }
      }
      .basics-overview-row-desktop {
        display: none;

        @include variables.md {
          display: flex;
        }
        .basics-overview-slide-container {
          width: 95%;
          .slide-container {
            padding-bottom: 10px;
            .slide-image {
              min-height: 70px;
            }
          }
        }
      }

      .basics-overview-row-mobile {
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }
        @include variables.md {
          display: none;
        }
        .slide-container {
          padding-bottom: 40px;
          .slide-image {
            min-height: 70px;
          }
        }
      }
      .basics-testimonial-row {
        background-color: variables.$light;
        padding-top: 30px;
        padding-bottom: 10px;
        @include variables.md {
          padding: 20px;
        }
        .basics-testimonial-image-container {
          padding-bottom: 30px;
        }
        .basics-testimonial-quote {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          @include variables.md {
            font-size: 18px;
            line-height: 30px;
          }
        }
        .basics-testimonial-name,
        .basics-testimonial-position {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.03em;
          @include variables.md {
            font-size: 14px;
            line-height: 21px;
          }
        }
        .basics-testimonial-name {
          margin-bottom: 0;
        }
        .basics-testimonial-position {
          font-weight: normal;
        }
      }
      .basics-learning-row-desktop {
        display: none;
        @include variables.md {
          display: flex;
        }
      }
      .basics-learning-row-mobile {
        @include variables.md {
          display: none;
        }
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }
        @include variables.md {
          display: none;
        }
      }
      .basics-learning-heading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        padding-top: 50px;
        padding-bottom: 30px;
        @include variables.md {
          font-size: 32px;
          line-height: 44px;
        }
      }
      .card-body {
        min-height: 290px;
        .card-title {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          padding-top: 20px;
          @include variables.md {
            font-size: 20px;
            line-height: 26px;
          }
        }
        .card-text {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          @include variables.md {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
    .basics-curriculum-container {
      padding-top: 20px;
      @include variables.md {
        padding-top: 20px;
        padding-left: 50px;
      }
      .basics-curriculum-heading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.03em;
        padding-bottom: 20px;
        padding-top: 20px;
        text-transform: uppercase;
        @include variables.md {
          font-size: 18px;
          line-height: 25px;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      .basics-curriculum-row {
        display: flex;
        flex-wrap: wrap;
        .basics-curriculum-topic {
          display: flex;
          align-items: center;
          background-color: variables.$light;
          height: 58px;
          border-radius: 16px;
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          margin: 10px 0;
          padding-left: 20px;
          @include variables.md {
            height: 74px;
            font-size: 18px;
            line-height: 26px;
            width: 48%;
            padding-left: 40px;
            margin: 10px 5px;
          }
        }
      }
    }
    .basics-instructors-container {
      padding-top: 30px;
      padding-bottom: 30px;
      @include variables.md {
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .basics-instructors-heading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        padding-top: 20px;
        padding-bottom: 20px;
        @include variables.md {
          font-size: 32px;
          line-height: 44px;
          padding-bottom: 30px;
        }
      }
      .basics-instructors-row-desktop {
        display: none;
        @include variables.md {
          display: flex;
        }
      }
      .basics-instructors-row-mobile {
        text-align: center;
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }
        .bootcamp-instructors-image-container {
          display: flex;
          justify-content: center;
        }
        @include variables.md {
          display: none;
        }
        .card {
          border: none;

          .card-body {
            min-height: 350px;
          }
        }
      }
      .basics-instructors-profile {
        .basics-instructors-name {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          padding-top: 15px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }
        .basics-instructors-position {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.03em;
        }
      }
    }
    .basics-admissions-container {
      @include variables.md {
        padding-left: 50px;
      }
      .basics-admissions-heading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
        @include variables.md {
          font-size: 32px;
          line-height: 44px;
          margin-bottom: 20px;
        }
      }
      .basics-admissions-subheading {
        font-family: variables.$secondary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
        @include variables.md {
          font-size: 16px;
          line-height: 26px;
        }
      }
      .basics-admissions-row {
        font-family: variables.$secondary-font;
        font-style: normal;

        .basics-admissions-top {
          margin: 20px;
          .card {
            border-radius: 10px;
          }
          .basics-admissions-prevcost {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            color: #b3b3b3;
            text-decoration-line: line-through;
            @include variables.md {
              font-size: 24px;
              line-height: 26px;
            }
          }
          .basics-admissions-currentcost {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            color: black;
            @include variables.md {
              font-size: 24px;
              line-height: 26px;
            }
          }
        }
        .basics-admissions-bottom {
          margin: 20px;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: grid;
            gap: 1rem;
          }
          li {
            display: grid;
            grid-template-columns: 0 1fr;
            gap: 1.75em;
            align-items: start;
            font-size: 16px;
            line-height: 26px;
          }
          ul li::before {
            content: attr(data-icon);
            font-size: 14px;
          }
        }
      }
      .basics-admissions-get-started-button-container {
        padding-top: 20px;
        padding-bottom: 20px;
        @include variables.md {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
    .basics-program-dates-container {
      font-family: variables.$secondary-font;
      font-style: normal;
      @include variables.md {
        padding-left: 50px;
      }
      .basics-program-dates-heading {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        @include variables.md {
          padding-bottom: 30px;
          font-size: 32px;
          line-height: 44px;
        }
      }
      .basics-program-dates-subheading {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 40px;
        @include variables.md {
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 20px;
        }
      }
      .basics-program-dates-row-desktop {
        display: none;
        @include variables.md {
          display: block;
        }
        th {
          border-top: 1px solid variables.$success;
          border-bottom: 1px solid variables.$success;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.03em;
          color: #999999;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        td {
          border-top: 1px solid variables.$success;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: black;
          width: 25%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .basics-program-dates-duration {
          font-weight: bold;
        }

        .basics-program-dates-firstclass {
          .basics-program-dates-content {
            display: flex;
            justify-content: space-between;
            .basics-program-dates-arrow-container {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 20px;
            }
          }
        }
      }
      .basics-program-dates-row-mobile {
        border: 1px solid variables.$success;
        border-radius: 10px;
        @include variables.md {
          display: none;
        }
        .basics-program-dates-col {
          margin: 0 auto;
          width: 90%;
          border-bottom: 1px solid variables.$success;
          padding: 30px 20px;
          .basics-program-dates-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            line-height: 22px;
            .basics-program-dates-arrow-container {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .basics-program-dates-deadline {
            padding-top: 15px;
          }
        }
      }
    }
    .basics-course-container {
      font-family: variables.$secondary-font;
      padding-top: 20px;
      font-style: normal;
      @include variables.md {
        padding-left: 50px;
      }
      .basics-course-header {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 10px;

        @include variables.md {
          font-size: 32px;
          line-height: 44px;
        }
      }
      .basics-course-subheading {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        @include variables.md {
          font-size: 16px;
          line-height: 26px;
        }
        a {
          color: variables.$red;
        }
      }
      .basics-course-content-desktop {
        display: none;
        @include variables.md {
          display: block;
        }
        .nav.nav-tabs {
          padding-top: 40px;
          .nav-link {
            border: none;
            margin: 10px 40px 0 10px;
            padding-bottom: 10px;
            color: black;
          }
          .nav-link.active {
            border-bottom: 2px solid variables.$red;
            margin: 10px 40px 0 10px;
            padding-bottom: 10px;
            font-weight: bold;
          }
        }
        th {
          padding-bottom: 24px;
          border-bottom: 1px solid rgb(222, 226, 230);
          font-size: 14px;
          line-height: 19px;
          color: #999999;
          letter-spacing: 0.03em;
        }
        td {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          padding: 15px 15px 15px 10px;
          ul {
            padding-left: 18px;
          }
        }

        .basics-course-lesson-number,
        .basics-course-lesson-title {
          margin-bottom: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
        }
      }
      .basics-course-content-mobile {
        padding-top: 30px;
        @include variables.md {
          display: none;
        }
        .accordion-body {
          ul {
            padding-left: 18px;
          }
        }
        .basics-course-accordion-lesson {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 0;
        }
        .basics-course-accordion-heading {
          font-weight: bold;
          font-size: 14px;
        }
        .accordion-button:focus {
          outline: 0 !important;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        }
        .accordion-button:after {
          background-size: 15px 15px;
          background-position: center right;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E73C3E'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }

        .accordion-button.collapsed {
          color: black;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          font-family: variables.$secondary-font;
        }
        .accordion-button:not(.collapsed) {
          color: black;
          background-color: variables.$light;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          font-family: variables.$secondary-font;
        }
      }
    }
  }
}
