.faq-header-outer-container {
  background-color: variables.$light;
  .faq-header-inner-container {
    padding-top: 30px;
    padding-bottom: 30px;
    @include variables.md {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .faq-header-smalltext {
      font-family: variables.$secondary-font;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding-bottom: 10px;

      color: rgba(24, 24, 24, 0.5);
      @include variables.md {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .faq-header-heading {
      font-family: variables.$primary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      @include variables.md {
        font-size: 52px;
        line-height: 61px;
        width: 50%;
      }
    }
  }
}

.faq-content-container {
  .faq-content-row {
    margin-top: 30px;
    margin-bottom: 30px;
    .faq-content-col {
      @include variables.md {
        border-left: 1px solid variables.$success;
      }
    }

    .faq-content-col {
      a {
        color: variables.$red;
      }
      @include variables.md {
      }
      .faq-content-col-accordion {
        @include variables.md {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-size: 32px;
          line-height: 44px;
          padding: 30px;
        }

        .faq-content-col-accordion-heading {
          font-weight: bold;
          padding: 30px 20px 20px 20px;
          @include variables.md {
            padding: 10px 20px 20px 20px;
          }

          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
        }
        .accordion-body {
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }
        .accordion-button:focus {
          outline: 0 !important;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        }
        .accordion-button:after {
          background-size: 15px 15px;
          background-position: center right;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E73C3E'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }

        .accordion-button.collapsed {
          color: black;
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          font-family: variables.$secondary-font;
        }
        .accordion-button:not(.collapsed) {
          color: black;
          font-family: variables.$secondary-font;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          font-family: variables.$secondary-font;
        }
      }
    }
  }
}
