.get-started-btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 20px;
  @include variables.md {
    width: 200px;
  }
}

.get-started-btn:hover {
  color: white;
}
