.navbar {
  font-weight: 500;
  font-size: 14px;

  .navbar-collapse.collapse.show {
    .navbar-nav {
      .nav-item.dropdown {
        width: 100%;
      }
      .button-container {
        width: 100%;
      }
    }
  }
  .navbar-items-container {
    @include variables.md {
      display: flex;
    }
  }

  .navbar-btn {
    width: 100%;
    padding: 6px 0;
    border-radius: 0.25rem;
    color: white;
    font-size: 14px;
    font-weight: 500;
    @include variables.lg {
      width: 120px;
      padding: 6px 0;
      margin-left: 10px;
    }
  }

  .dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }

  /*for the animation*/
  .dropdown-toggle:after {
    transition: 0.5s;
  }

  .dropdown-menu.show {
    border: None;
    @include variables.lg {
      border: 0.5px solid grey;
      background-color: white;
    }
  }
  .dropdown-item {
    a {
      color: black;
      text-decoration: None;
    }
  }
  .dropdown-item:active {
    background-color: variables.$blue;
    a {
      color: white;
      text-decoration: None;
    }
  }

  a.nav-link {
    color: black;
    width: 80px;
    text-decoration: none;
    text-align: left;
    @include variables.md {
      text-align: center;
    }
  }

  a.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: variables.$red;
  }

  a.nav-link.nav-active {
    color: black;
    text-decoration: underline;
    text-decoration-color: variables.$red;
  }

  .nav-item.dropdown {
    width: 100px;
  }

  .navbar-brand {
    width: 50%;
    height: 20%;
    @include variables.md {
      height: 40%;
      width: 20%;
    }
    @include variables.xl {
      height: 20%;
      width: 20%;
    }
  }
}
