.startcoding-outer-container {
  background-color: variables.$light;
  .startcoding-inner-container {
    padding-top: 40px;
    padding-bottom: 40px;
    @include variables.md {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .startcoding-heading {
      font-size: 28px;
      line-height: 36px;
      font-family: variables.$primary-font;
      font-style: normal;
      font-weight: bold;

      text-align: center;
      @include variables.md {
        font-size: 48px;
        line-height: 48px;
      }
    }
    .startcoding-text {
      font-family: variables.$secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      padding: 20px 0;
    }
  }
}
