@use "partials/variables";

$theme-colors: (
  "primary": variables.$primary,
  "secondary": variables.$secondary,
  "info": variables.$info,
  "light": variables.$light,
  "blue": variables.$blue,
  "red": variables.$secondary,
  "success": variables.$success,
  "bg-blue": variables.$bg-blue,
  "bg-red": variables.$bg-red,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "partials/homepage", "partials/navbar", "partials/layout",
  "partials/getStartedButton", "partials/footer", "partials/about-page",
  "partials/carousel-slide", "partials/faq-page", "partials/basics-page",
  "partials/start-coding", "partials/sidebar-section", "partials/bootcamp-page",
  "partials/application-form", "partials/careers-page";
